@import "tailwindcss";

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #020617;
}

body {
    font-family: Inter, sans-serif;
    overflow-x: hidden;
}

@keyframes loading {

    from {
        width: 0%;
    }

    to {
        width: 100%;
    }

}